{{ partial "header" . }}

<main class = "content-box">

    <div class="intro">

        <div>
         <!-- <img class="img-responsive" src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" alt="Whoopsies, this is my bad side!" style = "height:192px;width:192px;margin: 0 auto;"> -->
        </div>
        <h2>Hello there, Gabby Novak here,</h2>
        <p>self-titled graph-ophile and recreational spreadsheet user. I moonlight as an undergradthe University of Rochester (and some other things besides).</p>
        <h1>This is R 4 Humans,</h1>
        <p>your go to R tutorials that ordinary mortals can understand, no stats or comp sci background required</p>
        <h2>How this works</h2>
        <p><b>Quick Tasks:</b> These are short posts with instructions on completing a specific task.
        <br>
        <b>Learning:</b> These are longer posts which deal with more general topics.
        <br>
        <b>Topics:</b> This is a list of topics covered in the two aforementioned sections. Go here if you're looking for something specific.</p>
        
    </div>

</main>

{{ partial "footer" . }}